<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NonSenseGenerator</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>

<body class="d-flex">

    <!-- Sidebar -->
    <div id="sidebar" class="d-flex flex-column collapsed">
        <div class="sidebar-header">
            <button id="sidebarToggle" class="btn">
                <i class="bi bi-list fs-5"></i>
            </button>
        </div>
        <h5 id="sidebarTitle" class="mb-2 mt-4">HISTORY</h5>

        <div class="offcanvas-body flex-grow-1">
            <div>Placeholder</div>
        </div>
    </div>



    <!-- Main Content -->
    <div id="main-content" class="flex-grow-1 d-flex flex-column">

        <!-- Header -->
        <div class="d-flex align-items-center justify-content-between p-3">
            <h4 class="mb-0">NonSenseGenerator</h4>
        </div>


        <div class="container-fluid d-flex flex-column flex-grow-1 px-4">
            <div class="row flex-grow-1" style="min-height: 0;">
                <div class="col-12 d-flex flex-column">

                    <div class="d-flex flex-column mb-3">
                        <small id="selectedTemplate" class="d-none"></small>
                        <small id="selectedTense" class="d-none"></small>
                    </div>

                    <!-- Input Box -->
                    <h5 class="section-title">MY SENTENCE</h5>
                    <div class="input-area mb-4">
                        <textarea class="form-control io-box" rows="2" placeholder="Insert your input sentence..."
                            id="inputText"></textarea>
                        <div class="input-buttons-container">

                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-layout-text-sidebar-reverse"></i>
                                </button>
                                <ul class="dropdown-menu" id="templatesDropdown">
                                    <!-- Populated from js -->
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>

                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-clock"></i>
                                </button>
                                <ul class="dropdown-menu" id="tensesDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>

                            <button id="analyzeSyntaxButton" type="button" class="btn bg-secondary text-dark" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Analyze Syntax">
                                <i class="bi bi-diagram-3"></i>
                            </button>
                            <button id="generateButton" type="button" class="btn bg-primary text-light" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Generate">
                                <i class="bi bi-send"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row flex-grow-1" style="min-height: 0;">

                        <!-- Syntax Tree Section -->
                        <div class="col-md-6 d-flex flex-column">
                            <h5 class="section-title"><i class="bi bi-diagram-3"></i> SYNTAX TREE</h5>
                            <div class="section-box fill-height-box d-flex flex-column">
                                <div class="flex-grow-1 position-relative overflow-auto">
                                    <canvas id="syntaxTreeChart"></canvas>
                                    <div id="syntaxTreeSpinner" class="spinner-border position-absolute top-50 start-50"
                                        role="status" style="z-index: 2; display: none;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 d-flex flex-column">

                            <!-- Output Section -->
                            <h5 class="section-title"><i class="bi bi-send"></i> GENERATED SENTENCE</h5>
                            <div class="position-relative mb-3 flex-grow-1">
                                <textarea id="outputText" class="form-control io-box h-100" disabled></textarea>
                                <div class="output-buttons text-end py-0">
                                    <button id="analyzeToxicityButton" type="button" class="btn bg-success text-light"
                                        data-bs-toggle="tooltip" title="Analyze Toxicity">
                                        <i class="bi bi-shield-check"></i>
                                    </button>
                                </div>
                            </div>

                            <!-- Toxicity Analysis Section -->
                            <h5 class="section-title"><i class="bi bi-shield-check"></i> TOXICITY ANALYSIS</h5>
                            <div class="section-box fill-height-box">
                                <div id="toxicityAnalysisResult"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


<!-- Bootstrap JS -->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-graph"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<!-- Jquery -->
<script th:src="@{/js/jquery/jquery-3.7.1.min.js}"></script>

<!-- Page specific Javascript-->
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/analysis_syntax.js}"></script>
<script th:src="@{/js/generation_sentence.js}"></script>

</html>